h1{
    padding-top: 120px;
    padding-left: 5px;
    color: coral;color: darkkhaki;
}

#img_flamencos {
    width: 500px;
}

header{
    height: 120px;
    background: url(./img/chilelog.png);
    background: size 256px; ;
    background-repeat:no-repeat ;
}